n8n/workflows/facebook-group-weekly.json
{
  "name": "Facebook Group Weekly Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtDay": 3
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Wednesday 18:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/performance-card?days=7",
        "options": {}
      },
      "id": "get-performance-card",
      "name": "Get Performance Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/daily-summary",
        "options": {}
      },
      "id": "get-daily-summary",
      "name": "Get Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const performanceCard = $('Get Performance Card').first().json;\nconst dailySummary = $('Get Daily Summary').first().json;\nconst chartUrl = 'https://btc-oracle-production.up.railway.app/api/charts/weekly-summary.png?size=default';\n\nconst prompt = `Write a discussion-focused post for a crypto Facebook group. Data:\\n\\nPerformance Card (7 days): ${JSON.stringify(performanceCard)}\\n\\nDaily Summary: ${JSON.stringify(dailySummary)}\\n\\nA chart image is available at: ${chartUrl} — include this URL in your post so it shows as a preview image.\\n\\nStart with a thought-provoking question about Bitcoin's direction. Share some data from BTC Seer's weekly performance. Invite discussion. Don't be overly promotional. Max 600 chars.`;\n\nreturn [{ json: { prompt, chartUrl } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 800, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Data-driven, educational, transparent about accuracy. Never financial advice.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "claude-api",
      "name": "Claude Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst message = response.content[0].text;\n\nreturn [{ json: { message } }];"
      },
      "id": "extract-post",
      "name": "Extract Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $env.META_PAGE_ID + '/feed' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message, access_token: $env.META_PAGE_ACCESS_TOKEN }) }}",
        "options": {}
      },
      "id": "facebook-group-post",
      "name": "Post to Facebook Group",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Weekly Wednesday 18:00 UTC": {
      "main": [
        [
          { "node": "Get Performance Card", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Performance Card": {
      "main": [
        [
          { "node": "Get Daily Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Daily Summary": {
      "main": [
        [
          { "node": "Build Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          { "node": "Claude Generate", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude Generate": {
      "main": [
        [
          { "node": "Extract Post", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Post": {
      "main": [
        [
          { "node": "Post to Facebook Group", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "facebook" },
    { "name": "marketing" },
    { "name": "ai" }
  ]
}
