n8n/workflows/growth-trending-hijacker.json
{
  "name": "Growth: Trending Hijacker (Every 2h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "th-schedule",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/trending-analysis",
        "options": {}
      },
      "id": "th-get-trending",
      "name": "Get Trending Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const trending = $('Get Trending Analysis').first().json;\nconst eventCount = trending.event_count || 0;\nif (eventCount === 0) return [];\nreturn [{ json: { ...trending } }];"
      },
      "id": "th-event-gate",
      "name": "Check Events Exist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/daily-summary",
        "options": {}
      },
      "id": "th-get-summary",
      "name": "Get Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const events = $('Check Events Exist').first().json;\nconst summary = $('Get Daily Summary').first().json;\n\nconst prompt = `There are trending market events right now. Write a timely tweet that ties these events to BTC Seer's predictions.\n\nEvents: ${JSON.stringify(events, null, 2)}\n\nCurrent data: ${JSON.stringify(summary, null, 2)}\n\nUse trending hashtags. Be timely and newsworthy. Max 270 chars. End with 'Try @BTC_Seer_Bot'`;\n\nreturn [{ json: { prompt, events, summary } }];"
      },
      "id": "th-build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 300, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "th-claude-api",
      "name": "Claude Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Claude Generate').first().json;\nconst text = response.content[0].text.trim();\nreturn [{ json: { text } }];"
      },
      "id": "th-extract-text",
      "name": "Extract Tweet Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "th-tweet",
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1540, 0],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tweet = $('Extract Tweet Text').first().json.text;\nconst events = $('Check Events Exist').first().json;\nconst now = new Date().toISOString();\nconsole.log(`[${now}] Trending hijack posted: ${tweet.substring(0, 80)}...`);\nreturn [{ json: { status: 'posted', timestamp: now, event_count: events.event_count, tweet_length: tweet.length } }];"
      },
      "id": "th-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [{ "node": "Get Trending Analysis", "type": "main", "index": 0 }]
      ]
    },
    "Get Trending Analysis": {
      "main": [
        [{ "node": "Check Events Exist", "type": "main", "index": 0 }]
      ]
    },
    "Check Events Exist": {
      "main": [
        [{ "node": "Get Daily Summary", "type": "main", "index": 0 }]
      ]
    },
    "Get Daily Summary": {
      "main": [
        [{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [{ "node": "Claude Generate", "type": "main", "index": 0 }]
      ]
    },
    "Claude Generate": {
      "main": [
        [{ "node": "Extract Tweet Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract Tweet Text": {
      "main": [
        [{ "node": "Post Tweet", "type": "main", "index": 0 }]
      ]
    },
    "Post Tweet": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "growth" }
  ]
}
