n8n/workflows/growth-social-proof.json
{
  "name": "Growth: Social Proof (Every 4h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 */4 * * *"
            }
          ]
        }
      },
      "id": "sp-schedule",
      "name": "Every 4h at :30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/performance-card?days=1",
        "options": {}
      },
      "id": "sp-get-performance",
      "name": "Get Performance Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const card = $('Get Performance Card').first().json;\nconst accuracy = card.accuracy_pct || 0;\nif (accuracy <= 70) return [];\nreturn [{ json: { accuracy, ...card } }];"
      },
      "id": "sp-accuracy-gate",
      "name": "Check Accuracy > 70%",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/daily-summary",
        "options": {}
      },
      "id": "sp-get-summary",
      "name": "Get Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const card = $('Check Accuracy > 70%').first().json;\nconst summary = $('Get Daily Summary').first().json;\n\nconst prompt = `Write a social proof tweet about our prediction accuracy. Here's the data:\n\nPerformance Card: ${JSON.stringify(card, null, 2)}\nDaily Summary: ${JSON.stringify(summary, null, 2)}\n\nMention the specific accuracy %. Include #Bitcoin #BTC. Max 270 chars. End with 'Try @BTC_Seer_Bot'`;\n\nreturn [{ json: { prompt, card, summary } }];"
      },
      "id": "sp-build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 300, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "sp-claude-api",
      "name": "Claude Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Claude Generate').first().json;\nconst text = response.content[0].text.trim();\nreturn [{ json: { text } }];"
      },
      "id": "sp-extract-text",
      "name": "Extract Tweet Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/charts/accuracy.png?days=1&size=twitter",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "sp-get-chart",
      "name": "Get Accuracy Chart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "jsCode": "const text = $('Extract Tweet Text').first().json.text;\nconst imageUrl = 'https://btc-oracle-production.up.railway.app/api/charts/accuracy.png?days=1&size=twitter';\nreturn [{ json: { text, imageUrl } }];"
      },
      "id": "sp-prepare-tweet",
      "name": "Prepare Tweet with Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "sp-tweet",
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1980, -100],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendPhoto",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHANNEL_ID, photo: 'https://btc-oracle-production.up.railway.app/api/charts/accuracy.png?days=1&size=twitter', caption: $json.text, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "sp-telegram",
      "name": "Send to Telegram Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "jsCode": "const tweet = $('Prepare Tweet with Media').first().json.text;\nconst now = new Date().toISOString();\nconsole.log(`[${now}] Social proof posted: ${tweet.substring(0, 80)}...`);\nreturn [{ json: { status: 'posted', timestamp: now, tweet_length: tweet.length, channel: 'twitter+telegram' } }];"
      },
      "id": "sp-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 0]
    }
  ],
  "connections": {
    "Every 4h at :30": {
      "main": [
        [{ "node": "Get Performance Card", "type": "main", "index": 0 }]
      ]
    },
    "Get Performance Card": {
      "main": [
        [{ "node": "Check Accuracy > 70%", "type": "main", "index": 0 }]
      ]
    },
    "Check Accuracy > 70%": {
      "main": [
        [{ "node": "Get Daily Summary", "type": "main", "index": 0 }]
      ]
    },
    "Get Daily Summary": {
      "main": [
        [{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [{ "node": "Claude Generate", "type": "main", "index": 0 }]
      ]
    },
    "Claude Generate": {
      "main": [
        [{ "node": "Extract Tweet Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract Tweet Text": {
      "main": [
        [{ "node": "Get Accuracy Chart", "type": "main", "index": 0 }]
      ]
    },
    "Get Accuracy Chart": {
      "main": [
        [{ "node": "Prepare Tweet with Media", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Tweet with Media": {
      "main": [
        [
          { "node": "Post Tweet", "type": "main", "index": 0 },
          { "node": "Send to Telegram Channel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Post Tweet": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    },
    "Send to Telegram Channel": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "growth" }
  ]
}
