n8n/workflows/report-daily-owner.json
{
  "name": "Owner Report — Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        }
      },
      "id": "dor-schedule",
      "name": "Daily 23:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/user-metrics",
        "options": {}
      },
      "id": "dor-fetch-users",
      "name": "Fetch User Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/revenue-metrics?days=1",
        "options": {}
      },
      "id": "dor-fetch-revenue",
      "name": "Fetch Revenue Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 60]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/performance-card?days=1",
        "options": {}
      },
      "id": "dor-fetch-performance",
      "name": "Fetch Performance Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/health",
        "options": {}
      },
      "id": "dor-fetch-health",
      "name": "Fetch Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 420]
    },
    {
      "parameters": {
        "jsCode": "const users = $('Fetch User Metrics').first().json;\nconst revenue = $('Fetch Revenue Metrics').first().json;\nconst perf = $('Fetch Performance Card').first().json;\nconst health = $('Fetch Health').first().json;\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst newUsers = users.new_users_today ?? users.newUsersToday ?? 0;\nconst totalUsers = users.total_users ?? users.totalUsers ?? 0;\nconst premiumUsers = users.premium_users ?? users.premiumUsers ?? 0;\nconst trialUsers = users.trial_users ?? users.trialUsers ?? 0;\n\nconst stars = revenue.total_stars ?? revenue.totalStars ?? 0;\nconst usd = revenue.total_usd ?? revenue.totalUsd ?? (stars * 0.02).toFixed(2);\nconst conversions = revenue.trial_conversions ?? revenue.trialConversions ?? 0;\n\nconst predMade = perf.predictions_made ?? perf.predictionsMade ?? 0;\nconst predCorrect = perf.predictions_correct ?? perf.predictionsCorrect ?? 0;\nconst accuracy = perf.accuracy ?? (predMade > 0 ? ((predCorrect / predMade) * 100).toFixed(1) : '0.0');\nconst signals = perf.trading_signals ?? perf.tradingSignals ?? 0;\nconst profitable = perf.profitable_signals ?? perf.profitableSignals ?? 0;\n\nconst ticketsOpened = perf.tickets_opened ?? perf.supportTicketsOpened ?? 0;\nconst ticketsResolved = perf.tickets_resolved ?? perf.supportTicketsResolved ?? 0;\n\nconst apiRequests = health.api_requests ?? health.apiRequests ?? health.requestCount ?? 'N/A';\nconst apiErrors = health.api_errors ?? health.apiErrors ?? health.errorCount ?? 0;\nconst healthStatus = health.status ?? 'unknown';\n\nconst report = `\\u{1F4CA} <b>Daily Report \\u2014 ${today}</b>\n\n<b>USERS:</b> +${newUsers} new | ${totalUsers} total | ${premiumUsers} premium | ${trialUsers} trial\n<b>REVENUE:</b> ${stars} Stars (~$${usd}) | ${conversions} trial conversions\n<b>PREDICTIONS:</b> ${predMade} made | ${predCorrect} correct (${accuracy}%)\n<b>TRADING:</b> ${signals} signals | ${profitable} profitable\n<b>SUPPORT:</b> ${ticketsOpened} opened | ${ticketsResolved} resolved\n<b>SYSTEM:</b> ${apiRequests} API requests | ${apiErrors} errors | ${healthStatus}`;\n\nreturn [{ json: { report } }];"
      },
      "id": "dor-build-report",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.ADMIN_TELEGRAM_ID, text: $json.report, parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "dor-send-telegram",
      "name": "Send to Admin Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 120]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Send to Admin Telegram').first().json;\nconst success = response.ok === true;\nconst now = new Date().toISOString();\nconsole.log(`[${now}] Daily Owner Report — Telegram send ${success ? 'SUCCESS' : 'FAILED'}`);\nreturn [{ json: { logged: true, success, timestamp: now } }];"
      },
      "id": "dor-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 120]
    }
  ],
  "connections": {
    "Daily 23:00 UTC": {
      "main": [
        [
          { "node": "Fetch User Metrics", "type": "main", "index": 0 },
          { "node": "Fetch Revenue Metrics", "type": "main", "index": 0 },
          { "node": "Fetch Performance Card", "type": "main", "index": 0 },
          { "node": "Fetch Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch User Metrics": {
      "main": [
        [
          { "node": "Build Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Revenue Metrics": {
      "main": [
        [
          { "node": "Build Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Performance Card": {
      "main": [
        [
          { "node": "Build Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Health": {
      "main": [
        [
          { "node": "Build Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          { "node": "Send to Admin Telegram", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send to Admin Telegram": {
      "main": [
        [
          { "node": "Log Result", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "report" }
  ]
}