n8n/workflows/report-anomaly-alert.json
{
  "name": "Owner Report — Anomaly Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5,35 * * * *"
            }
          ]
        }
      },
      "id": "aa-schedule",
      "name": "Every 30 Min at :05",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/performance-card?days=1",
        "options": {}
      },
      "id": "aa-fetch-performance",
      "name": "Fetch Performance Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -60]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/health",
        "options": {}
      },
      "id": "aa-fetch-health",
      "name": "Fetch Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 120]
    },
    {
      "parameters": {
        "jsCode": "const perf = $('Fetch Performance Card').first().json;\nconst health = $('Fetch Health').first().json;\n\nconst alerts = [];\nlet hasAnomaly = false;\n\n// Check prediction accuracy\nconst predMade = perf.predictions_made ?? perf.predictionsMade ?? 0;\nconst predCorrect = perf.predictions_correct ?? perf.predictionsCorrect ?? 0;\nconst accuracy = predMade > 0 ? (predCorrect / predMade) * 100 : null;\n\nif (accuracy !== null && accuracy < 50) {\n  alerts.push(`\\u{26A0}\\u{FE0F} Prediction accuracy critically low: ${accuracy.toFixed(1)}% (${predCorrect}/${predMade}) in last 24h`);\n  hasAnomaly = true;\n}\n\n// Check health endpoint\nconst healthStatus = (health.status ?? '').toLowerCase();\nif (healthStatus !== 'ok' && healthStatus !== 'healthy') {\n  alerts.push(`\\u{1F6A8} Health check failed: status is \"${health.status ?? 'unreachable'}\"`);\n  hasAnomaly = true;\n}\n\n// Check for high error rate if available\nconst apiErrors = health.api_errors ?? health.apiErrors ?? health.errorCount ?? null;\nconst apiRequests = health.api_requests ?? health.apiRequests ?? health.requestCount ?? null;\nif (apiErrors !== null && apiRequests !== null && apiRequests > 0) {\n  const errorRate = (apiErrors / apiRequests) * 100;\n  if (errorRate > 10) {\n    alerts.push(`\\u{1F525} High API error rate: ${errorRate.toFixed(1)}% (${apiErrors}/${apiRequests} requests)`);\n    hasAnomaly = true;\n  }\n}\n\n// Check response time if available\nconst responseTime = health.response_time_ms ?? health.responseTimeMs ?? health.avgResponseTime ?? null;\nif (responseTime !== null && responseTime > 5000) {\n  alerts.push(`\\u{1F422} Slow API response time: ${responseTime}ms (threshold: 5000ms)`);\n  hasAnomaly = true;\n}\n\nreturn [{ json: { hasAnomaly, alerts, alertCount: alerts.length, timestamp: new Date().toISOString() } }];"
      },
      "id": "aa-check-anomalies",
      "name": "Check Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAnomaly }}",
              "value2": true
            }
          ]
        }
      },
      "id": "aa-if-anomaly",
      "name": "Has Anomaly?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Has Anomaly?').first().json;\nconst alerts = data.alerts;\nconst timestamp = data.timestamp;\nconst time = new Date(timestamp).toISOString().replace('T', ' ').substring(0, 19) + ' UTC';\n\nconst telegramMessage = `\\u{1F6A8} <b>BTC Seer Anomaly Alert</b>\\n${time}\\n\\n${alerts.map(a => `\\u2022 ${a}`).join('\\n')}\\n\\n<i>Auto-detected by anomaly monitor (runs every 30 min)</i>`;\n\nconst discordMessage = `**\\u{1F6A8} BTC Seer Anomaly Alert** (${time})\\n\\n${alerts.map(a => `- ${a}`).join('\\n')}\\n\\n*Auto-detected by anomaly monitor*`;\n\nreturn [{ json: { telegramMessage, discordMessage } }];"
      },
      "id": "aa-build-alert",
      "name": "Build Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.ADMIN_TELEGRAM_ID, text: $json.telegramMessage, parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "aa-send-telegram",
      "name": "Send Alert to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.discordMessage }) }}",
        "options": {}
      },
      "id": "aa-send-discord",
      "name": "Send Alert to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 60]
    },
    {
      "parameters": {
        "jsCode": "const tgResult = $('Send Alert to Telegram').first().json;\nconst now = new Date().toISOString();\nconst tgSuccess = tgResult.ok === true;\nconsole.log(`[${now}] Anomaly Alert — TG: ${tgSuccess ? 'OK' : 'FAIL'} | Discord: sent`);\nreturn [{ json: { logged: true, telegram: tgSuccess, timestamp: now } }];"
      },
      "id": "aa-log",
      "name": "Log Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, -30]
    }
  ],
  "connections": {
    "Every 30 Min at :05": {
      "main": [
        [
          { "node": "Fetch Performance Card", "type": "main", "index": 0 },
          { "node": "Fetch Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Performance Card": {
      "main": [
        [
          { "node": "Check Anomalies", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Health": {
      "main": [
        [
          { "node": "Check Anomalies", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Anomalies": {
      "main": [
        [
          { "node": "Has Anomaly?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Anomaly?": {
      "main": [
        [
          { "node": "Build Alert Message", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Build Alert Message": {
      "main": [
        [
          { "node": "Send Alert to Telegram", "type": "main", "index": 0 },
          { "node": "Send Alert to Discord", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Alert to Telegram": {
      "main": [
        [
          { "node": "Log Alert", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Alert to Discord": {
      "main": [
        [
          { "node": "Log Alert", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "report" }
  ]
}