n8n/workflows/sales-milestone-celebrations.json
{
  "name": "Sales — Milestone Celebrations",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "mlc-schedule",
      "name": "Daily 18:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/user-milestones",
        "options": {}
      },
      "id": "mlc-fetch-milestones",
      "name": "Fetch User Milestones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const milestones = $input.first().json;\n\nconst users = Array.isArray(milestones) ? milestones : (milestones.users || milestones.milestones || []);\n\nif (users.length === 0) {\n  return [{ json: { skip: true, message: 'No milestones reached today' } }];\n}\n\nreturn users.map(user => ({\n  json: {\n    skip: false,\n    userId: user.telegram_id || user.chat_id || user.id,\n    username: user.username || user.first_name || 'there',\n    milestone: user.milestone || user.milestone_type || '10_trades',\n    milestoneCount: user.milestone_count || user.count || 10,\n    totalPredictions: user.total_predictions || user.prediction_count || 0,\n    accuracy: user.user_accuracy || user.personal_accuracy || null,\n    winRate: user.win_rate || null,\n    profitLoss: user.profit_loss || user.pnl || null,\n    memberSince: user.member_since || user.created_at || null\n  }\n}));"
      },
      "id": "mlc-prepare-users",
      "name": "Prepare Milestone Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true,
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "mlc-filter-skip",
      "name": "Filter Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const { username, milestone, milestoneCount, totalPredictions, accuracy, winRate, profitLoss, memberSince } = $json;\n\nlet milestoneLabel = '';\nlet celebrationLevel = '';\n\nswitch (milestone) {\n  case '10_trades':\n  case '10':\n    milestoneLabel = '10 trades';\n    celebrationLevel = 'encouraging — they\\'re just getting started';\n    break;\n  case '50_trades':\n  case '50':\n    milestoneLabel = '50 trades';\n    celebrationLevel = 'impressive — they\\'re becoming a regular';\n    break;\n  case '100_trades':\n  case '100':\n    milestoneLabel = '100 trades';\n    celebrationLevel = 'amazing — they\\'re a power user, make them feel elite';\n    break;\n  default:\n    milestoneLabel = `${milestoneCount} trades`;\n    celebrationLevel = 'notable achievement';\n}\n\nlet statsBlock = '';\nif (accuracy) statsBlock += `Personal accuracy: ${accuracy}%\\n`;\nif (winRate) statsBlock += `Win rate: ${winRate}%\\n`;\nif (profitLoss) statsBlock += `P&L: ${profitLoss}\\n`;\nif (memberSince) statsBlock += `Member since: ${memberSince}\\n`;\n\nconst prompt = `Write a celebration Telegram DM for user \"${username}\" who just hit the ${milestoneLabel} milestone!\n\nMilestone context:\n- Achievement: ${milestoneLabel} completed\n- Celebration level: ${celebrationLevel}\n- Total predictions: ${totalPredictions}\n${statsBlock ? `- Personal stats:\\n${statsBlock}` : '- No personal stats available — keep it general'}\n\nMessage requirements:\n- Start with genuine congratulations — make them feel special\n- If personal stats are available, highlight their best metric\n- For 10 trades: encourage them to keep going, mention features they might not know about\n- For 50 trades: acknowledge their commitment, suggest /referral to share with friends (+7 days Premium for both)\n- For 100 trades: make them feel like a VIP, strong referral CTA, hint at loyalty rewards\n- Always end with a referral CTA: /referral gives both them and their friend +7 days Premium\n\nRules:\n- Use HTML formatting (<b>, <i>, <code>) — NOT Markdown\n- Keep under 700 characters\n- Be genuinely celebratory, not corporate\n- Never give financial advice\n- Vary the celebration style — sometimes use a trophy theme, sometimes a journey metaphor, sometimes straight stats`;\n\nreturn [{ json: { prompt, userId: $json.userId } }];"
      },
      "id": "mlc-build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 800, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "mlc-claude-api",
      "name": "Claude Generate Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -60]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\n\nif (response.content && response.content.length > 0) {\n  text = response.content[0].text;\n} else {\n  text = '<b>Milestone Reached!</b>\\n\\nCongratulations on your trading journey with BTC Seer! Share the love with /referral — both you and your friend get +7 days Premium.';\n}\n\nreturn [{ json: { text, userId: $('Build Claude Prompt').first().json.userId } }];"
      },
      "id": "mlc-extract-text",
      "name": "Extract Message Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.userId, text: $json.text, parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "mlc-telegram-send",
      "name": "Send Telegram DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -60]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst userId = $('Extract Message Text').first().json.userId;\nconst success = result.ok === true;\n\nconsole.log(`[Milestone] Sent to user ${userId}: ${success ? 'OK' : 'FAILED'}`);\n\nreturn [{ json: { userId, success, timestamp: new Date().toISOString() } }];"
      },
      "id": "mlc-log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -60]
    }
  ],
  "connections": {
    "Daily 18:00 UTC": {
      "main": [
        [
          { "node": "Fetch User Milestones", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch User Milestones": {
      "main": [
        [
          { "node": "Prepare Milestone Users", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Milestone Users": {
      "main": [
        [
          { "node": "Filter Active", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Active": {
      "main": [
        [
          { "node": "Build Claude Prompt", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          { "node": "Claude Generate Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude Generate Message": {
      "main": [
        [
          { "node": "Extract Message Text", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Message Text": {
      "main": [
        [
          { "node": "Send Telegram DM", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Telegram DM": {
      "main": [
        [
          { "node": "Log Result", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "sales" }
  ]
}