n8n/workflows/sales-upsell-yearly.json
{
  "name": "Sales — Upsell Yearly Plan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 1"
            }
          ]
        }
      },
      "id": "upy-schedule",
      "name": "Monday 14:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/upsell-candidates",
        "options": {}
      },
      "id": "upy-fetch-candidates",
      "name": "Fetch Upsell Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -60]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/performance-card?days=7",
        "options": {}
      },
      "id": "upy-fetch-accuracy",
      "name": "Fetch 7-Day Accuracy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 120]
    },
    {
      "parameters": {
        "jsCode": "const candidates = $('Fetch Upsell Candidates').first().json;\nconst accuracy = $('Fetch 7-Day Accuracy').first().json;\n\nconst users = Array.isArray(candidates) ? candidates : (candidates.users || []);\n\nif (users.length === 0) {\n  return [{ json: { skip: true, message: 'No upsell candidates this week' } }];\n}\n\nreturn users.map(user => ({\n  json: {\n    skip: false,\n    userId: user.telegram_id || user.chat_id || user.id,\n    username: user.username || user.first_name || 'there',\n    currentPlan: user.plan || user.subscription_type || 'monthly',\n    monthsActive: user.months_active || user.tenure_months || 1,\n    totalPredictions: user.total_predictions || user.prediction_count || 0,\n    accuracy: JSON.stringify(accuracy)\n  }\n}));"
      },
      "id": "upy-prepare-users",
      "name": "Prepare User List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true,
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "upy-filter-skip",
      "name": "Filter Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "jsCode": "const { username, currentPlan, monthsActive, totalPredictions, accuracy } = $json;\n\nconst prompt = `Write a persuasive but respectful Telegram DM to upsell user \"${username}\" from their current ${currentPlan} plan to the yearly plan.\n\nUser context:\n- Currently on: ${currentPlan} plan\n- Active for: ${monthsActive} month(s)\n- Total predictions used: ${totalPredictions}\n- 7-day platform performance: ${accuracy}\n\nKey selling points:\n- Yearly plan saves 25% compared to monthly billing\n- They clearly find value in the platform (${totalPredictions} predictions in ${monthsActive} months)\n- Lock in the current price before any future increases\n- Uninterrupted access to all Premium features\n\nRules:\n- Use HTML formatting (<b>, <i>, <code>) — NOT Markdown\n- Keep under 800 characters\n- Calculate their approximate yearly savings in the message\n- Don't be sleazy — be genuine and helpful\n- Include a clear CTA with /premium command\n- Never give financial advice\n- Reference their actual usage to personalize it`;\n\nreturn [{ json: { prompt, userId: $json.userId } }];"
      },
      "id": "upy-build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 1024, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "upy-claude-api",
      "name": "Claude Generate Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, -60]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\n\nif (response.content && response.content.length > 0) {\n  text = response.content[0].text;\n} else {\n  text = '<b>Save 25% with Yearly Premium</b>\\n\\nYou\\'ve been getting great value from BTC Seer. Switch to yearly and save! Tap /premium to see options.';\n}\n\nreturn [{ json: { text, userId: $('Build Claude Prompt').first().json.userId } }];"
      },
      "id": "upy-extract-text",
      "name": "Extract Message Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.userId, text: $json.text, parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "upy-telegram-send",
      "name": "Send Telegram DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, -60]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst userId = $('Extract Message Text').first().json.userId;\nconst success = result.ok === true;\n\nconsole.log(`[Upsell Yearly] Sent to user ${userId}: ${success ? 'OK' : 'FAILED'}`);\n\nreturn [{ json: { userId, success, timestamp: new Date().toISOString() } }];"
      },
      "id": "upy-log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, -60]
    }
  ],
  "connections": {
    "Monday 14:00 UTC": {
      "main": [
        [
          { "node": "Fetch Upsell Candidates", "type": "main", "index": 0 },
          { "node": "Fetch 7-Day Accuracy", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Upsell Candidates": {
      "main": [
        [
          { "node": "Prepare User List", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch 7-Day Accuracy": {
      "main": [
        [
          { "node": "Prepare User List", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare User List": {
      "main": [
        [
          { "node": "Filter Active", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Active": {
      "main": [
        [
          { "node": "Build Claude Prompt", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          { "node": "Claude Generate Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude Generate Message": {
      "main": [
        [
          { "node": "Extract Message Text", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Message Text": {
      "main": [
        [
          { "node": "Send Telegram DM", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Telegram DM": {
      "main": [
        [
          { "node": "Log Result", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "sales" }
  ]
}