n8n/workflows/twitter-market-commentary.json
{
  "name": "Twitter Market Commentary (AI)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "mc-schedule",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/trending-analysis",
        "options": {}
      },
      "id": "mc-fetch-trending",
      "name": "Get Trending Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mc-cond-1",
              "leftValue": "={{ $json.has_events }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "mc-if-events",
      "name": "Has Events?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const trending = $('Get Trending Analysis').first().json;\n\nconst prompt = `There's a notable Bitcoin market event. Here's the data from BTC Seer's trending analysis:\n\n${JSON.stringify(trending, null, 2)}\n\nWrite a commentary tweet explaining what happened and how BTC Seer's AI responded to this event. Be insightful, data-driven. Max 270 chars. Include #Bitcoin #BTC. Mention @BTC_Seer_Bot.`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "mc-build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 300, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "mc-claude-api",
      "name": "Claude Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Claude Generate').first().json;\nconst text = response.content[0].text.trim();\nreturn [{ json: { text } }];"
      },
      "id": "mc-extract",
      "name": "Extract Tweet Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "mc-tweet",
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1320, 0],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tweet = $('Extract Tweet Text').first().json.text;\nconst now = new Date().toISOString();\nconsole.log(`[${now}] Market commentary tweet posted: ${tweet.substring(0, 80)}...`);\nreturn [{ json: { status: 'posted', timestamp: now, tweet_length: tweet.length } }];"
      },
      "id": "mc-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [
        [{ "node": "Get Trending Analysis", "type": "main", "index": 0 }]
      ]
    },
    "Get Trending Analysis": {
      "main": [
        [{ "node": "Has Events?", "type": "main", "index": 0 }]
      ]
    },
    "Has Events?": {
      "main": [
        [{ "node": "Build Claude Prompt", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [{ "node": "Claude Generate", "type": "main", "index": 0 }]
      ]
    },
    "Claude Generate": {
      "main": [
        [{ "node": "Extract Tweet Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract Tweet Text": {
      "main": [
        [{ "node": "Post Tweet", "type": "main", "index": 0 }]
      ]
    },
    "Post Tweet": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "twitter" },
    { "name": "marketing" },
    { "name": "ai" }
  ]
}
