n8n/workflows/twitter-quote-news.json
{
  "name": "Twitter Quote News (AI)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "qn-schedule",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://btc-oracle-production.up.railway.app/api/news",
        "options": {}
      },
      "id": "qn-fetch-news",
      "name": "Get Latest News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/daily-summary",
        "options": {}
      },
      "id": "qn-fetch-summary",
      "name": "Get Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const newsResponse = $('Get Latest News').first().json;\nconst summary = $('Get Daily Summary').first().json;\nconst chartUrl = 'https://btc-oracle-production.up.railway.app/api/charts/prediction-card.png?timeframe=1h&size=twitter';\n\n// Pick the most relevant/recent news item\nconst articles = newsResponse.articles || newsResponse.data || newsResponse;\nconst topNews = Array.isArray(articles) ? articles[0] : articles;\n\nif (!topNews || !topNews.title) {\n  return [{ json: { skip: true, reason: 'No news available' } }];\n}\n\nconst prompt = `Here's a crypto news headline: '${topNews.title}'${topNews.description ? '\\nSummary: ' + topNews.description : ''}\n\nAnd here's BTC Seer's current prediction data:\n${JSON.stringify(summary, null, 2)}\n\nA prediction chart image is available at: ${chartUrl}\nInclude this URL at the end of your tweet so it shows as a preview image.\n\nWrite a tweet that adds our AI's perspective to this news. Show how BTC Seer's prediction aligns or contrasts with the news. Max 270 chars (not counting the URL). Include #Bitcoin #BTC. Mention @BTC_Seer_Bot.`;\n\nreturn [{ json: { skip: false, prompt, newsTitle: topNews.title, chartUrl } }];"
      },
      "id": "qn-build-prompt",
      "name": "Pick News & Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "qn-cond-1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "qn-if-news",
      "name": "Has News?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 300, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "qn-claude-api",
      "name": "Claude Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Claude Generate').first().json;\nconst text = response.content[0].text.trim();\nreturn [{ json: { text } }];"
      },
      "id": "qn-extract",
      "name": "Extract Tweet Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "qn-tweet",
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1540, 0],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tweet = $('Extract Tweet Text').first().json.text;\nconst newsTitle = $('Pick News & Build Prompt').first().json.newsTitle;\nconst now = new Date().toISOString();\nconsole.log(`[${now}] News quote tweet posted about: ${newsTitle}`);\nreturn [{ json: { status: 'posted', timestamp: now, newsTitle, tweet_length: tweet.length } }];"
      },
      "id": "qn-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [{ "node": "Get Latest News", "type": "main", "index": 0 }]
      ]
    },
    "Get Latest News": {
      "main": [
        [{ "node": "Get Daily Summary", "type": "main", "index": 0 }]
      ]
    },
    "Get Daily Summary": {
      "main": [
        [{ "node": "Pick News & Build Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Pick News & Build Prompt": {
      "main": [
        [{ "node": "Has News?", "type": "main", "index": 0 }]
      ]
    },
    "Has News?": {
      "main": [
        [{ "node": "Claude Generate", "type": "main", "index": 0 }],
        []
      ]
    },
    "Claude Generate": {
      "main": [
        [{ "node": "Extract Tweet Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract Tweet Text": {
      "main": [
        [{ "node": "Post Tweet", "type": "main", "index": 0 }]
      ]
    },
    "Post Tweet": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "twitter" },
    { "name": "marketing" },
    { "name": "ai" }
  ]
}
