n8n/workflows/twitter-auto-reply.json
{
  "name": "Twitter Auto Reply (AI)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "ar-schedule",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.twitter.com/2/tweets/search/recent?query=@BTCSeerBot -is:retweet&max_results=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWITTER_BEARER_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "ar-search-mentions",
      "name": "Search Mentions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Search Mentions').first().json;\nconst tweets = response.data || [];\n\n// Filter to genuine questions (contain '?' or question words)\nconst questions = tweets.filter(t => {\n  const text = t.text.toLowerCase();\n  return text.includes('?') || text.includes('how') || text.includes('what') || text.includes('why') || text.includes('when') || text.includes('predict');\n});\n\n// Limit to max 3 per run to avoid spam\nconst limited = questions.slice(0, 3);\n\nif (limited.length === 0) {\n  return [{ json: { skip: true, reason: 'No genuine questions found' } }];\n}\n\nreturn limited.map(t => ({\n  json: {\n    skip: false,\n    tweetId: t.id,\n    tweetText: t.text,\n    prompt: `Someone tweeted: '${t.text.replace(/'/g, \"\\\\'\")}'\\n\\nWrite a helpful, friendly reply from BTC Seer. Keep it short (max 240 chars). Don't be salesy, be genuinely helpful. If they asked about predictions, mention they can try @BTC_Seer_Bot on Telegram for free.`\n  }\n}));"
      },
      "id": "ar-filter",
      "name": "Filter Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ar-cond-1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ar-if-has-questions",
      "name": "Has Questions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 300, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "ar-claude-api",
      "name": "Claude Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Claude Generate Reply').first().json;\nconst text = response.content[0].text.trim();\nconst tweetId = $('Has Questions?').first().json.tweetId;\nreturn [{ json: { text, tweetId } }];"
      },
      "id": "ar-extract",
      "name": "Extract Reply Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {
          "inReplyToStatusId": "={{ $json.tweetId }}"
        }
      },
      "id": "ar-reply",
      "name": "Post Reply",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1320, 0],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reply = $('Extract Reply Text').first().json.text;\nconst tweetId = $('Extract Reply Text').first().json.tweetId;\nconst now = new Date().toISOString();\nconsole.log(`[${now}] Auto-reply posted to tweet ${tweetId}: ${reply.substring(0, 80)}...`);\nreturn [{ json: { status: 'replied', timestamp: now, inReplyTo: tweetId } }];"
      },
      "id": "ar-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [{ "node": "Search Mentions", "type": "main", "index": 0 }]
      ]
    },
    "Search Mentions": {
      "main": [
        [{ "node": "Filter Questions", "type": "main", "index": 0 }]
      ]
    },
    "Filter Questions": {
      "main": [
        [{ "node": "Has Questions?", "type": "main", "index": 0 }]
      ]
    },
    "Has Questions?": {
      "main": [
        [{ "node": "Claude Generate Reply", "type": "main", "index": 0 }],
        []
      ]
    },
    "Claude Generate Reply": {
      "main": [
        [{ "node": "Extract Reply Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract Reply Text": {
      "main": [
        [{ "node": "Post Reply", "type": "main", "index": 0 }]
      ]
    },
    "Post Reply": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "twitter" },
    { "name": "marketing" },
    { "name": "ai" }
  ]
}
