n8n/workflows/twitter-weekly-thread.json
{
  "name": "Twitter Weekly Thread (AI)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtDay": 0
            }
          ]
        }
      },
      "id": "wt-schedule",
      "name": "Sunday 12PM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://btc-oracle-production.up.railway.app/api/marketing/performance-card?days=7",
        "options": {}
      },
      "id": "wt-fetch-perf",
      "name": "Get Performance Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const perfData = $('Get Performance Card').first().json;\n\nconst prompt = `Generate a Twitter thread (4-6 tweets) reviewing this week's BTC Seer performance. Here's the data:\n\n${JSON.stringify(perfData, null, 2)}\n\nTweet 1: hook/headline that grabs attention.\nTweet 2-3: specific data points and stats.\nTweet 4: insight or lesson learned this week.\nLast tweet: CTA to try @BTC_Seer_Bot on Telegram.\n\nEach tweet max 270 chars. Include #Bitcoin #BTC in at least the first and last tweets.\nReturn ONLY a JSON array of strings, e.g. [\"tweet1\", \"tweet2\", ...]. No other text.`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "wt-build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 1200, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "wt-claude-api",
      "name": "Claude Generate Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Claude Generate Thread').first().json;\nconst rawText = response.content[0].text.trim();\n\nlet tweets;\ntry {\n  tweets = JSON.parse(rawText);\n} catch (e) {\n  // Try to extract JSON array from response\n  const match = rawText.match(/\\[.*\\]/s);\n  if (match) {\n    tweets = JSON.parse(match[0]);\n  } else {\n    tweets = [rawText.substring(0, 270)];\n  }\n}\n\n// Return each tweet as a separate item for SplitInBatches\nreturn tweets.map((tweet, index) => ({\n  json: { text: tweet, threadIndex: index, isFirst: index === 0 }\n}));"
      },
      "id": "wt-parse-thread",
      "name": "Parse Thread Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "wt-split",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "wt-tweet",
      "name": "Post Thread Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1320, 0],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toISOString();\nconsole.log(`[${now}] Weekly thread tweet posted (index: ${$json.threadIndex})`);\nreturn [{ json: { status: 'posted', timestamp: now } }];"
      },
      "id": "wt-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    }
  ],
  "connections": {
    "Sunday 12PM UTC": {
      "main": [
        [{ "node": "Get Performance Card", "type": "main", "index": 0 }]
      ]
    },
    "Get Performance Card": {
      "main": [
        [{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [{ "node": "Claude Generate Thread", "type": "main", "index": 0 }]
      ]
    },
    "Claude Generate Thread": {
      "main": [
        [{ "node": "Parse Thread Array", "type": "main", "index": 0 }]
      ]
    },
    "Parse Thread Array": {
      "main": [
        [{ "node": "Split Into Batches", "type": "main", "index": 0 }]
      ]
    },
    "Split Into Batches": {
      "main": [
        [{ "node": "Post Thread Tweet", "type": "main", "index": 0 }]
      ]
    },
    "Post Thread Tweet": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    },
    "Log Result": {
      "main": [
        [{ "node": "Split Into Batches", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "twitter" },
    { "name": "marketing" },
    { "name": "ai" }
  ]
}
