n8n/workflows/twitter-engage-hashtags.json
{
  "name": "Twitter Engage Hashtags (AI)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "eh-schedule",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.twitter.com/2/tweets/search/recent?query=%23Bitcoin %3F -is:retweet&max_results=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWITTER_BEARER_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "eh-search-hashtags",
      "name": "Search Bitcoin Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Search Bitcoin Questions').first().json;\nconst tweets = response.data || [];\n\n// Filter to genuine questions\nconst questions = tweets.filter(t => {\n  const text = t.text.toLowerCase();\n  // Must contain a question mark or question words\n  const isQuestion = text.includes('?') || text.includes('should i') || text.includes('what do you think') || text.includes('anyone know');\n  // Exclude spam/promotional tweets\n  const isSpam = text.includes('giveaway') || text.includes('airdrop') || text.includes('dm me') || text.includes('send me');\n  return isQuestion && !isSpam;\n});\n\n// Limit to max 3 per run\nconst limited = questions.slice(0, 3);\n\nif (limited.length === 0) {\n  return [{ json: { skip: true, reason: 'No genuine Bitcoin questions found' } }];\n}\n\nreturn limited.map(t => ({\n  json: {\n    skip: false,\n    tweetId: t.id,\n    tweetText: t.text\n  }\n}));"
      },
      "id": "eh-filter",
      "name": "Filter Genuine Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "eh-cond-1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "eh-if-questions",
      "name": "Has Questions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const tweetText = $json.tweetText;\nconst tweetId = $json.tweetId;\n\nconst prompt = `Someone asked about Bitcoin: '${tweetText.replace(/'/g, \"\\\\'\")}'\\n\\nWrite a brief, helpful reply mentioning that AI prediction tools like @BTC_Seer_Bot can help with Bitcoin analysis. Max 240 chars. Be genuinely helpful, not spammy. If the question is about price, mention AI predictions. If it's about tech, be educational.`;\n\nreturn [{ json: { prompt, tweetId, tweetText } }];"
      },
      "id": "eh-build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CLAUDE_MODEL || 'claude-sonnet-4-5-20250929', max_tokens: 300, system: 'You are BTC Seer AI, the social media voice of BTC Seer — an AI-powered Bitcoin prediction platform (@BTC_Seer_Bot on Telegram). Your personality: data-driven, educational, transparent about accuracy (including misses), never gives financial advice, uses clear language. Always include a CTA to try the bot. Vary your format and wording — never post the same structure twice. Use emojis sparingly but effectively.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "eh-claude-api",
      "name": "Claude Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Claude Generate Reply').first().json;\nconst text = response.content[0].text.trim();\nconst tweetId = $('Build Claude Prompt').first().json.tweetId;\nreturn [{ json: { text, tweetId } }];"
      },
      "id": "eh-extract",
      "name": "Extract Reply Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {
          "inReplyToStatusId": "={{ $json.tweetId }}"
        }
      },
      "id": "eh-reply",
      "name": "Post Reply",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1540, 0],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reply = $('Extract Reply Text').first().json.text;\nconst tweetId = $('Extract Reply Text').first().json.tweetId;\nconst now = new Date().toISOString();\nconsole.log(`[${now}] Hashtag engagement reply posted to tweet ${tweetId}: ${reply.substring(0, 80)}...`);\nreturn [{ json: { status: 'replied', timestamp: now, inReplyTo: tweetId } }];"
      },
      "id": "eh-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [{ "node": "Search Bitcoin Questions", "type": "main", "index": 0 }]
      ]
    },
    "Search Bitcoin Questions": {
      "main": [
        [{ "node": "Filter Genuine Questions", "type": "main", "index": 0 }]
      ]
    },
    "Filter Genuine Questions": {
      "main": [
        [{ "node": "Has Questions?", "type": "main", "index": 0 }]
      ]
    },
    "Has Questions?": {
      "main": [
        [{ "node": "Build Claude Prompt", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [{ "node": "Claude Generate Reply", "type": "main", "index": 0 }]
      ]
    },
    "Claude Generate Reply": {
      "main": [
        [{ "node": "Extract Reply Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract Reply Text": {
      "main": [
        [{ "node": "Post Reply", "type": "main", "index": 0 }]
      ]
    },
    "Post Reply": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "twitter" },
    { "name": "marketing" },
    { "name": "ai" }
  ]
}
